.Navbar {
  width: 100%;
  background-color: #00a0dc;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;

    li {
      a {
        text-decoration: none;
        font-size: 2rem;
        color: white;
        padding: 0.5rem;
        border: 3px solid #00a0dc;
        border-radius: 0.4rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #00698f;
          border: 3px solid #00698f;
          color: lightgray;
        }
      }
    }
  }
}