.SinglePost {
  font-size: 10px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8rem;

  .SinglePostLoading, .SinglePostError{
    font-size: 3rem;
    font-weight: bold;
    color: darkorchid;
  }

  .SinglePostTitle {
    font-size: 4rem;
    color: darkorchid;
    margin-top: 2rem;
  }

  .UserHeader {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .SinglePostContent {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }

  .CommentsTitle {
    font-size: 2rem;
    font-weight: bold;
    color: darkorchid;
  }

  .Comment {
    margin: 2.6rem;
    font-size: 1.4rem;
  }

  .CommentHeader {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
