* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100%;
  font-family: "Comic Sans MS", serif;
  font-size: 10px;

  body {
    width: 100%;
    background-color: aliceblue;
    display: block;

    #root {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
