%list {
  font-size: 1.5rem;
  margin-left: 1rem;
  list-style-position: inside;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-family: "Comic Sans MS", serif;
  font-size: 15px;

  body {
    width: 100%;
    background-color: aliceblue;
    display: block;

    #root {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 70%;
        h1 {
          margin: 1rem;
          text-align: center;
        }

        h2 {
          margin-top: 1rem;
        }

        ul {
          @extend %list;
        }

        ol {
          @extend %list;
          list-style-type: upper-roman;
        }

        p {
          text-align: center;
          margin-top: 7rem;
          font-size: 2rem;
        }
      }
    }
  }
}