.Posts{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 10px;
  min-height: 80vh;
  padding-bottom: 8rem;
  align-content: center;

  .PostsLoading, .PostsError{
    font-size: 3rem;
    font-weight: bold;
    color: darkorchid;
  }

  .Post{
    width: 40%;
    margin: 4%;
    border-radius: 1rem;
    box-sizing: border-box;
    border: 2px solid darkslategrey;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .PostTitle{
      font-size: 2rem;
      margin-bottom: 1rem;
      width: 70%;
    }

    .PostLink{
      text-decoration: none;
      color: white;
      background-color: darkorchid;
      border: 2px solid darkorchid;
      border-radius: 1rem;
      padding: 0.5rem;
      margin: 0.5rem;
      min-width: 15%;
      text-align: center;
      font-size: 1.5rem;
    }

    .PostContent{
      font-size: 1.4rem;
      margin: 1rem;
    }
  }
}