.Navbar {
  width: 100%;
  background-color: darkorchid;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;

    li {
      a {
        text-decoration: none;
        font-size: 2rem;
        color: white;
        padding: 0.8rem;
        border: 3px solid darkorchid;
        border-radius: 0.6rem;
        transition: all 0.3s ease-in-out;
        text-shadow: 0.2rem 0.2rem 0.3rem grey;

        &:hover {
          background-color: darkmagenta;
          border: 0.3rem solid darkmagenta;
          color: lightgray;
        }
      }
    }
  }
}
