.Footer{
  width: 100%;
  background-color: darkorchid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: large;
  padding: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
}