.Category {
  width: 70%;
  font-size: 10px;
  h1 {
    margin: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }

  ul {
    font-size: 1.9rem;
    margin-left: 1.5rem;
    list-style-position: inside;
  }
}