%list {
  font-size: 1.9rem;
  margin-left: 1.5rem;
  list-style-position: inside;
}

.Home {
  width: 70%;
  font-size: 10px;
  h1 {
    margin: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }

  h2 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul {
    @extend %list;
  }

  ol {
    @extend %list;
    list-style-type: upper-roman;
  }

  p {
    text-align: center;
    margin-top: 15rem;
    font-size: 2.5rem;
  }
}