.Home {
  width: 70%;
  font-size: 10px;
  h1 {
    margin: 1.5rem;
    text-align: center;
    font-size: 2.5rem;
  }

  p {
    text-align: center;
    margin-top: 15rem;
    font-size: 2.5rem;
  }
}
